{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer type="text/javascript" src="{% static 'register.js' %}" ></script>
</head>
<body>
    <section class="register-section">
        <h1 class="register-heading"> Users By DRF </h1>
        <div class="register-div">
            <p class="register-para"> Dive into our system </p>
            <input id="name_id" type="text" class="input-field" placeholder="Your name" />
            <input id="email_id" type="text" class="input-field" placeholder="user@example.com" />
            <input id="password_id" type="password" class="input-field"  placeholder="**********" />
            <select id="gender_id"  class="select-field">
                <option value="male"> Male </option>
                <option value="female"> Female </option>
                <option value="other"> Other </option>
            </select>
            <input id="city_id" type="text" class="input-field" placeholder="New York" />
            <select id="role_id" class="select-field">
                <option value="user"> System User</option>
                <option value="admin">System Admin</option>
            </select>
            <a href="" id="register_id" class="register-btn"> Register </a>
            <p class="guide_text"> Already have an account ? <a href="{% url 'login-user' %}">login</a> </p>
        </div>
        <p id="message" class="message"></p>
    </section>
</body>
</html>
